#
# {{ ansible_managed }}
#
#
# This file controls the configuration of the audit remote
# logging subsystem, audisp-remote.
#

disk_full_action = syslog
network_failure_action = syslog
enable_krb5 = {{ security_auditd_enable_kerberos }}
