##
## {{ ansible_managed }}
##

Port {{ security_sshd_port }}
Protocol 2


# Ciphers -- specifies the ciphers allowed for protocol version 2
#            in order of preference
Ciphers aes256-ctr,aes192-ctr,aes128-ctr


# MACs -- specifies the MAC (Message Authentication Code) algorithms
#         in order of preference
Macs hmac-sha2-512,hmac-sha2-256


# Logging
SyslogFacility AUTHPRIV
LogLevel INFO


# Authentication
PermitRootLogin no
LoginGraceTime 1m
PermitEmptyPasswords no
ChallengeResponseAuthentication yes
StrictModes yes


# Host-based authentication
IgnoreRhosts yes
RhostsRSAAuthentication no
HostbasedAuthentication no
IgnoreUserKnownHosts yes


# Key-based authentication
RSAAuthentication yes
PubkeyAuthentication yes
AuthorizedKeysFile %h/.ssh/authorized_keys


# GSSAPI authentication
GSSAPIAuthentication yes
GSSAPICleanupCredentials yes


# Connection timeout
ClientAliveCountMax 0
ClientAliveInterval 3600
TCPKeepAlive yes


# Tunneling/forwarding
X11Forwarding no
PermitTunnel no
AllowTcpForwarding yes


# Display
PrintMotd no
PrintLastLog yes
Banner /etc/issue.net


# Environment variables
#   Allows client to pass specific local environment variables
AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
AcceptEnv LC_IDENTIFICATION LC_ALL LANGUAGE
AcceptEnv XMODIFIERS


# External systems
UsePAM yes
UseDNS no


# Specific users with access
{% if devops_user is defined %}
AllowUsers {{ devops_user }}@{{ controller_ip }}
{% endif %}
{% for _user in security_ssh_users %}
{% if _user.host is defined %}
AllowUsers {{ _user.name }}@{{ _user.host }}
{% else %}
AllowUsers {{ _user.name }}
{% endif %}
{% endfor %}


# Specific groups with access
{% for _group in security_ssh_groups %}
{% if _group.host is defined %}
AllowGroups {{ _group.name }}@{{ _group.host }}
{% else %}
AllowGroups {{ _group.name }}
{% endif %}
{% endfor %}


# SFTP system
{% if security_sftp_users %}
Subsystem  sftp  internal-sftp
{% else %}
Subsystem  sftp  /usr/lib/openssh/sftp-server
{% endif %}


{% if devops_user is defined %}
# Prevent password authentication for DevOps user
Match User {{ devops_user }}
    PasswordAuthentication no
{% endif %}


{% if security_sftp_users %}
# Configure SFTP users
{% for _user in security_sftp_users %}
Match User {{ _user.name }}
    ChrootDirectory {{ user.chroot|default(%h/public_html) }}
    X11Forwarding {{ user.x11forwarding|default(no) }}
    AllowAgentForwarding {{ user.allowagentforwarding|default(no) }}
    AllowTcpForwarding {{ user.allowtcpforwarding|default(no) }}
    ForceCommand internal-sftp
{% endfor %}
{% endif %}

